body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	color: #2F2F2F;
	font-size: 18px;
	background-image: url(img/background.jpg);*/
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

button {
	background-color: #1F8ACF;
	box-shadow: none;
	appearance: none;
	border: 0;
	outline: 0;
	height: 45px;
	line-height: 42px;
	padding: 0 30px;
	font-size: 20px;
	border-radius: 30px;
	color: #EDEDED;
	transition: all .5s;
	transition-timing-function: cubic-bezier(.2, 3, .4, 1);
}

button:hover {
	transform: scale(1.1, 1.1);
}

button:hover {
	outline: none;
}

#entry-form {
	margin: 0 auto;
	padding: 1%;
	width: 60%;
}

#entry-form input {
	background-color: rgba(237, 237, 237, 0.4);
	border: none;
	border-bottom: 2px solid #1F8ACF;
	font-size: 18px;
	width: 80%;
	margin: 2% 10%;
}

#entry-form input:focus {
	outline: none;
	background-color: rgba(237, 237, 237, 1);
}

#story {
	margin: 0 auto;
	width: 60%;
	background-color: rgba(237, 237, 237, 0.4);
}

