<h2>Entry Page</h2>
<form name="wordEntryForm" ng-controller="entryCtrl">
	<input ng-model="mad.adj1" type="text" placeholder="Adjective">
	<input ng-model="mad.adj2" type="text" placeholder="Adjective">
	<input ng-model="mad.noun1" type="text" placeholder="Noun">
	<input ng-model="mad.verb1" type="text" placeholder="Verb">
	<input ng-model="mad.adj3" type="text" placeholder="Adjective">
	<input ng-model="mad.noun2" type="text" placeholder="Noun">
	<input ng-model="mad.adj4" type="text" placeholder="Adjective">
	<input ng-model="mad.verb2" type="text" placeholder="Verb">
	<button ng-click=wordEntry(mad)>Test</button>	
</form> 

