<div id="story">
	<p> Sharks are really {{ print.adj1 }} creatures. There are lots of {{ print.adj2 }} kinds of sharks. One kind is the {{ print.noun1 }} shark. This type of shark likes to {{ print.verb1 }} in warm, shallow water. It is well-known for its {{ print.adj3 }} {{ print.noun2 }}. Another interesting kind of shark is the {{ print.noun3 }} head shark. In addition to its {{ print.adj4 }}, the {{ print.noun3 }} head shark has {{ print.noun4 }}-shaped fins. Another kind of shark is the {{ print.adj5 }} shark, often considered the deadlist. Its favorite meal is a nice, juicy {{ print.noun5 }}. All these sharks are often considered to be {{ print.adj6 }} when they really just want to {{ print.verb2 }}.</p>
</div>
	<a href="#!/entry"><button>Play Again!</button></a>	
